table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td {
  padding: 8px 40px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr td img {
  width: 18px;
  height: 18px;
}

.list-container {
  margin: 50px auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-list-label {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.btn-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-options img {
  margin-right: 15px;
}

.delete-option {
  width: 18px;
  height: 24px;
}